body {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: .8em;
	}

/* the div that holds the date picker calendar */
.dpDiv {
	}


/* the table (within the div) that holds the date picker calendar */
.dpTableA {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	color: #505050;
	background-color: #ece9d8;
	/*border: 1px solid #AAAAAA;*/
	}


/* a table row that holds date numbers (either blank or 1-31) */
.dpTRA {
	}


/* the top table row that holds the month, year, and forward/backward buttons */
.dpTitleTRA {
	}


/* the second table row, that holds the names of days of the week (Mo, Tu, We, etc.) */
.dpDayTRA {
	}


/* the bottom table row, that has the "This Month" and "Close" buttons */
.dpTodayButtonTRA {
	}


/* a table cell that holds a date number (either blank or 1-31) */
.dpTDA {
	border: 1px solid #ece9d8;
	}


/* a table cell that holds a highlighted day (usually either today's date or the current date field value) */
.dpDayHighlightTDA {
	background-color: #CCCCCC;
	border: 1px solid #AAAAAA;
	}


/* the date number table cell that the mouse pointer is currently over (you can use contrasting colors to make it apparent which cell is being hovered over) */
.dpTDHoverA {
	background-color: #aca998;
	border: 1px solid #888888;
	cursor: pointer;
	color: red;
	}


/* the table cell that holds the name of the month and the year */
.dpTitleTDA {
	}


/* a table cell that holds one of the forward/backward buttons */
.dpButtonTDA {
	}


/* the table cell that holds the "This Month" or "Close" button at the bottom */
.dpTodayButtonTDA {
	}


/* a table cell that holds the names of days of the week (Mo, Tu, We, etc.) */
.dpDayTDA {
	background-color: #CCCCCC;
	border: 1px solid #AAAAAA;
	color: white;
	}


/* additional style information for the text that indicates the month and year */
.dpTitleTextA {
	font-size: 12px;
	color: gray;
	font-weight: bold;
	}


/* additional style information for the cell that holds a highlighted day (usually either today's date or the current date field value) */ 
.dpDayHighlightA {
	color: 4060ff;
	font-weight: bold;
	}


/* the forward/backward buttons at the top */
.dpButtonA {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: gray;
	background: #d8e8ff;
	font-weight: bold;
	padding: 0px;
	BORDER-RIGHT: #D4D0C8 1px solid;
    BORDER-TOP: #D4D0C8 1px solid;
    BORDER-LEFT: #D4D0C8 1px solid;
    BORDER-BOTTOM: #D4D0C8 1px solid;
	}


/* the "This Month" and "Close" buttons at the bottom */
.dpTodayButtonA {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #A15424;
	background: #ece9d8;
	/*font-weight: bold;*/
	cursor: pointer;
	}
	
.dpTodayButtonAA {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #A15424;
	background: #ece9d8;
	font-weight: bold;
	cursor: pointer;

	}