body {
	margin: 10px 0px 10px 10px;
	padding:0px; /* Need to set body margin and padding to get consistency between browsers. */
	background-repeat:no-repeat;
	background-color:#E3E3E3;
}
body, table, td, span, div, p {
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
}

.greyCopy{
	color:#777777;
}

.report{
	font-size:16px;
}

.homeHeader{
	color:#ffffff;
}

.homeHeaderOld{
	color:#002046;
}

.footerCopy{
	color:#ffffff;
}

a {
	text-decoration:none;
	color:#002046;
}
a:hover {
	text-decoration:underline;
	color:#93CDD4;
}
a:visited {
	text-decoration:none;
}
a:visited:hover {
	text-decoration:underline;
}

.footerLink {
	text-decoration:none;
	color:#000000;
	font-size:11px;
}
a.footerLink, a.footerLink:visited {
	text-decoration:none;
}
a.footerLink:hover, a.footerLink:visited:hover {
	text-decoration:underline;
	color:#000000;
}

.menuLink {
	text-decoration:none;
	color:#002046;
}
a.menuLink, a.menuLink:visited {
	text-decoration:none;
}
a.menuLink:hover, a.menuLink:visited:hover {
	text-decoration:underline;
	color:#002046;
}

.separator {
	color:#002046;
}

.formButton {
	BORDER-RIGHT: #D4D0C8 1px solid;
    BORDER-TOP: #D4D0C8 1px solid;
    BORDER-LEFT: #D4D0C8 1px solid;
    BORDER-BOTTOM: #D4D0C8 1px solid;
    font-size: 11pt;
    font-family: Arial, Helvetica, sans-serif;
    color:#000000
    background-color:#FFFFFF;
}

.TextBox
{
    FONT-SIZE: 11pt;
    font-family: Arial, Helvetica, sans-serif;
    COLOR: #000000;
}

.grayHeader
{
	font-size:12pt;
	font-weight:bold;
	color:#808080;
}

.Header
{
	color:#002046;
	font-size:12pt;
	font-weight:bold;
}

.required
{
	color:#FF0000;
}


.footer
{
	font-size:10px;
}

.borderTable
{
	border-bottom-color:#003373;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-top-color:#003373;
	border-top-style:solid;
	border-top-width:1px;
	border-right-color:#003373;
	border-right-style:solid;
	border-right-width:1px;
	border-left-color:#003373;
	border-left-style:solid;
	border-left-width:1px;
}

.tCol
{
	border-bottom-color:#003373;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-right-color:#003373;
	border-right-style:solid;
	border-right-width:1px;
}

.tColLeft
{
	border-left-color:#003373;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#003373;
	border-right-style:solid;
	border-right-width:1px;
	border-bottom-color:#003373;
	border-bottom-style:solid;
	border-bottom-width:1px;
}

.rowColor
{
	background-color:#E3E3E3;
}

.reportRowColor
{
	background-color:#C4E0FF;
}

.searchText
{
	color:#FFFFFF;
}

.colorBars
{
	background-color:#93CDD4;
	height:20px;
}

.lettersLink{
	font-weight:bold;
}

.formButtonSmall {
	BORDER-RIGHT: #D4D0C8 1px solid;
    BORDER-TOP: #D4D0C8 1px solid;
    BORDER-LEFT: #D4D0C8 1px solid;
    BORDER-BOTTOM: #D4D0C8 1px solid;
    font-size: 9pt;
    font-family: Arial, Helvetica, sans-serif;
    color:#000000
    background-color:#FFFFFF;
}

.fileLink {
	text-decoration:none;
}
a.fileLink, a.fileLink:visited {
	text-decoration:none;
}
a.fileLink:hover, a.fileLink:visited:hover {
	text-decoration:underline;
}

.redLink {
	text-decoration:none;
	color:#FF0000;
}
a.redLink, a.redLink:visited {
	text-decoration:none;
	color:#FF0000;
}
a.redLink:hover, a.redLink:visited:hover {
	text-decoration:underline;
	color:#FF0000;
}


#DHTMLgoodies_formTooltipDiv{
	color:#FFF;
	font-family:arial;
	font-weight:bold;
	font-size:0.8em;
	line-height:120%;
}
.DHTMLgoodies_formTooltip_closeMessage{
	color:#FFF;
	font-weight:normal;
	font-size:0.7em;
}

.DaysOfWeek{
	font-size: 12px;
	color:#000000;
	font-weight:bold;
}

.inActiveCustomer {
	color:#EE0000;
}

.activeCustomer {
	color:#00BB00;
}

.frameSet {
	color:#000000;
}


/*for the radio drop down*/
#myform {
  padding: 0px;
  background-color: #FFFFFF;
  width: 600px;
}

#myform label {
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
}

#AttachA {
  margin: 20px 0px 0px 0px;
  display: none;
}

.blueTextBox{
	background-color:#CCFFFF;
	border:none;
	margin:1px;
	font-size:10px;
}

.grayTextBox{
	background-color:#CCCCCC;
	border:none;
	margin:1px;
	font-size:10px;
}

.graySelect{
	background-color:#CCCCCC;
	border:none;
	margin:1px;
	font-size:10px;
	width:78px;
}

.blueSelect{
	background-color:#CCFFFF;
	border:none;
	margin:1px;
	font-size:10px;
	width:78px;
}
