body {
	margin: 10px 0px 10px 10px;
	padding:0px; /* Need to set body margin and padding to get consistency between browsers. */
	background-repeat:no-repeat;
	background-color:#FFFFFF;
}
body, table, td, span, div, p {
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
}

.Header
{
	font-size:18pt;
}

.footer
{
	font-size:10px;
}

.rowColor
{
	background-color:#CCCCCC;
}

.borderTable
{
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:1px;
	border-right-color:#000000;
	border-right-style:solid;
	border-right-width:1px;
	border-left-color:#000000;
	border-left-style:solid;
	border-left-width:1px;
}

.borderTable2
{
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:1px;
	border-left-color:#000000;
	border-left-style:solid;
	border-left-width:1px;
}

.tCol
{
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-right-color:#000000;
	border-right-style:solid;
	border-right-width:1px;
}

.searchText
{
	color:#FFFFFF;
}

.accidentText
{
	color:#0000FF;
}

.WCText
{
	color:#0000FF;
	font-size:11px;
}
.WCTextSmall
{
	font-size:11px;
}

.smallCopy{
	font-size:9px;
}